* { /*значения для всех элементов*/
    box-sizing: border-box;
}

body {
    font: 400 14px/1 'PT Sans', sans-serif;
    margin: 0;
}

a {
    text-decoration: none; /*убирает подчеркивание ссылки*/
    color: inherit; /*что бы ссылка приобрела цвет*/
} 

button {
    border :none;
    background-color: transparent;
    cursor: pointer;
    padding:0px;
}


p, h1, h2, h3, h4, h5, h6 {
    margin:0;
}

.d-flex {    /*упорядовачиние друг за другом, а не блоком*/
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center { /*выравнивание по центру*/
    align-items: center;
}

.container {
    max-width: 1114px; 
    padding: 0 15px;   /*первая цифра верх низ, вторая право/лево  */  
    margin:auto;  /*будет стоять по середине страницы*/

}

.btn { /*кнопка*/
    font-family: 'PT Sans', sans-serif ;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.333;
    padding:16px 30px;
    border-radius: 8px;
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); ;
}

.btn:hover {
    background-color:rgba(184, 144, 58, 0.945);
    color:black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-default {
    background-color: white;
    box-shadow: rgb(136, 68, 4);
    color:rgb(3, 2, 7);
}

.header {
    padding: 40px 0px;
    position: absolute;  /*надо растянуть на всю ширину 100% left 0 и top 0*/
    width: 100%;
    left: 0;
    top: 0;
}

.main-header-nav {
    color:#fff;
    font-weight: 700;
    margin-left: 66px;
}

.main-header-nav a + a,
.info-header-nav a + a { /*Обращение к каждой ссылке что бы сделать отступ между ними*/
    margin-left: 30px;
}

.info-header-nav {
    color: rgba(255, 255, 255, 0.8);
    margin-left: auto;
}

.inner {
    height: 100vh;
    background: linear-gradient(to top, #806d42da  10%, #181717 99.5%);
    padding-top: 107px;
    min-height: 950px;
}

.inner-call-to-action {
    max-width: 545px;
    position: relative;
    height: 611px;
    width: 738px;
}

.inner-call-to-action::after {
    content: '';
    width: 738px;
    height: 611px;
    background: url('../img/pngwing.com\ \(1\).png') no-repeat;
    position: absolute;
    top: -75px;
    right: -650px;
}

.call-to-action-title {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-top: 55px;
    max-width: 545px;
}

.call-to-action-discription {
    font-size: 18px;
    line-height: 133%;
    color:#fff;
    margin-top: 20px;
    max-width: 390px;
    margin-bottom: 55px;
}

.call-to-action-discription >span {
    color:rgb(226, 149, 47);
    font-weight: 700;
}

.test-your-email {
    display: inline-block;
}

.email-not-required {
    margin-top: 15px;
    color: rgb(216, 181, 65);
    font-size: 15px;
}

.email-not-required span {
    margin-left: 5px;
}

.inner-partners-wrap {
    margin-top: -90px;
}

.inner-partners-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.29;
    margin-bottom: 30px;
    color:rgb(255, 255, 255);
    max-width: 365px;
}

.inner-partner-list-item {
    width: 165px;
    height: 164px;
    /* background-color: #806d42da; */
    cursor: pointer;
}

.inner-partner-list-item + .inner-partner-list-item {
    margin-left: 10px;
}

.inner-partner-list-item:hover {
    background-color:rgba(184, 144, 58, 0.945);
}